
<div class="">
    <div class="aHl"></div>
    <div id=":2b" tabindex="-1"></div>
    <div id=":21" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgyNTAzNDUyODQ2NDMzMDYwOSJd; 4:WyIjbXNnLWY6MTgyNTAzNDUyODQ2NDMzMDYwOSIsbnVsbCxudWxsLG51bGwsMSwwLFsxLDAsMF0sMjc4LDg3NyxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsMSxudWxsLG51bGwsWzBdLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd">
        <div id=":20" class="a3s aiL msg183903729866898530">
            <u></u>
            <div style="background-color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;font-size:14px;font-style:normal;font-weight:400;color:#172b4d;letter-spacing:-0.15px;color:#333333;font-family:Arial,sans-serif;font-size:14px;line-height:1.4285715;background-color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;color:#172b4d;letter-spacing:-0.15px" bgcolor="#ffffff">
                <div style="display:none">
                    <div>
                        <span><%= reporter %><b>assigned</b> this <%= task_type %> to you.</span>
                    </div>
                    <span>NimbusPost/NP-412</span>
                    <span>Wallet to wallet transfer facility Need to make</span>
                    <span>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                        <wbr>&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌
                    </span>
                </div>
                <div style="width:100.0%;table-layout:fixed;max-width:1040px;margin:0 auto">
                    <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0">
                        <tbody style="border-bottom:0">
                            <tr>
                                <td style="padding:0;padding:0">
                                    <div style="font-size:14px;margin-bottom:7px">
                                        <span><%= reporter %>
                                            <b style="font-weight:600">assigned</b> this <%= task_type %> to you
                                        </span>
                                    </div>
                                    <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0;max-width:1040px;margin:0;border-collapse:separate">
                                        <tbody style="border-bottom:0">
                                            <tr>
                                                <td style="padding:0;padding:0;padding-top:12px;padding-bottom:12px;border-top:2px solid #dfe1e6">
                                                    <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0;margin:0 0 0 0">
                                                        <thead style="border-bottom:0">
                                                            <tr>
                                                                <td colspan="3" style="padding:0;padding:0">
                                                                    <div>
                                                                        <div style="color:#6b778c;font-weight:500;font-size:14px;line-height:20px;margin-bottom:6px">
                                                                            <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0;width:auto;border-spacing:0;height:20px" height="20">
                                                                                <tbody style="border-bottom:0">
                                                                                    <tr>
                                                                                        <td style="padding:0;padding:0;white-space:nowrap;color:#6b778c">
                                                                                            <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0">
                                                                                                <tbody style="border-bottom:0">
                                                                                                    <tr>
                                                                                                        <td style="padding:0;padding:0;white-space:nowrap;color:#6b778c">
                                                                                                            <a
                                                                                                                class="m_183903729866898530ak-button__appearance-subtle-link"
                                                                                                                href="https://xpressbees.atlassian.net/browse/NP?atlOrigin=eyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9"
                                                                                                                style="color:#0052cc;text-decoration:none;box-sizing:border-box;border-radius:3px;border-width:0;display:inline-flex;font-style:normal;font-size:inherit;height:2.2857144em;line-height:2.2857144em;margin:0;outline:none;padding:0 12px;text-align:center;vertical-align:middle;white-space:nowrap;background:none;color:#42526e;text-decoration:none;padding:0px;color:#6b778c;height:auto;line-height:normal"
                                                                                                                target="_blank"
                                                                                                                data-saferedirecturl="https://www.google.com/url?q=https://xpressbees.atlassian.net/browse/NP?atlOrigin%3DeyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw37OJ3DrPdo5V9NTGC1SLJT"
                                                                                                            >NimbusPost</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td style="padding:0;padding:0;white-space:nowrap;color:#6b778c">
                                                                                            <span style="color:#6b778c">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                                                                                        </td>
                                                                                        <td style="padding:0;padding:0;white-space:nowrap;color:#6b778c">
                                                                                            <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0">
                                                                                                <tbody style="border-bottom:0">
                                                                                                    <tr>
                                                                                                        <td style="padding:0;padding:0;white-space:nowrap;color:#6b778c">
                                                                                                            <a
                                                                                                                class="m_183903729866898530ak-button__appearance-subtle-link"
                                                                                                                href="https://xpressbees.atlassian.net/browse/NP-412?atlOrigin=eyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9"
                                                                                                                style="color:#0052cc;text-decoration:none;box-sizing:border-box;border-radius:3px;border-width:0;display:inline-flex;font-style:normal;font-size:inherit;height:2.2857144em;line-height:2.2857144em;margin:0;outline:none;padding:0 12px;text-align:center;vertical-align:middle;white-space:nowrap;background:none;color:#42526e;text-decoration:none;padding:0px;color:#6b778c;height:auto;line-height:normal"
                                                                                                                target="_blank"
                                                                                                                data-saferedirecturl="https://www.google.com/url?q=https://xpressbees.atlassian.net/browse/NP-412?atlOrigin%3DeyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw38lG3SFSooaKCksJKTeugb"
                                                                                                            >NP-412</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="m_183903729866898530layout-simple-header-with-breadcrumbs" style="font-size:20px;font-weight:normal;line-height:24px;margin:6px 0 0 0">
                                                                        <a
                                                                            href="https://xpressbees.atlassian.net/browse/NP-412?atlOrigin=eyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9"
                                                                            style="color:#0052cc;text-decoration:none;color:#0052cc"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://xpressbees.atlassian.net/browse/NP-412?atlOrigin%3DeyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw38lG3SFSooaKCksJKTeugb"
                                                                        >
                                                                            <span>Wallet to wallet transfer facility Need to make</span>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="border-bottom:0">
                                                            <tr>
                                                                <td rowspan="2" style="padding:0;padding:0;padding-top:14px;vertical-align:top;width:40px" width="40">
                                                                    <img
                                                                        src="https://ci3.googleusercontent.com/meips/ADKq_NaguLFXnUidc2wrXBOjGDfecnwl7J7aCufaPqtsh93hXkR9nfHxd-ruMhscpSZr9t8dCJu3BnO9wB8UBfYaNGSg0nDRTf-qXLK8_rW7fJT28wVQSVAvAZo0mVfHxbk4DfymHJA4Wic87IQMHWZXl-yYA25j5T8-Qx5s_Zr7T8HJNCxiDwhu7UoAQTtLPCPF8m14wnUz6hAwpa01CKyaeGQRbQpOGNmKRaC9DaukWfuV3iNgaJBYSnfzyKe0UNU=s0-d-e1-ft#https://secure.gravatar.com/avatar/0a9a0160ecf6d8834cf1fd76bc552638?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FNM-4.png"
                                                                        style="border:0;border:0;border-radius:50.0%;width:32px;height:32px"
                                                                        width="32"
                                                                        height="32"
                                                                        class="CToWUd"
                                                                        data-bit="iit"
                                                                    >
                                                                </td>
                                                                <td colspan="2" style="padding:0;padding:0;padding-top:14px;padding-bottom:6px;line-height:20px;vertical-align:middle">
                                                                    <span style="color:#42526e;font-weight:500;display:inline-block;vertical-align:middle">Nitin Mishra</span>
                                                                    <span style="color:#42526e;display:inline-block;vertical-align:middle"> 6:32&nbsp;PM&nbsp;IST</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:0;padding:0;white-space:nowrap;width:1.0%;vertical-align:top;padding-right:5px;line-height:24px">Assignee:</td>
                                                                <td style="padding:0;padding:0;line-height:24px">
                                                                    <span style="max-width:700px;height:auto;display:inline-block;padding:0 4px;background-color:#ffebe6;text-decoration:line-through" bgcolor="#ffebe6">Unassigned</span>
                                                                    <img
                                                                        alt="→"
                                                                        id="m_183903729866898530logo"
                                                                        src="https://mail.google.com/mail/u/0?ui=2&amp;ik=c4bf1b3692&amp;attid=0.2&amp;permmsgid=msg-f:1825034528464330609&amp;th=1953d33bf3f05f71&amp;view=fimg&amp;fur=ip&amp;permmsgid=msg-f:1825034528464330609&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-cH5FL760oZ5KwGa_huaEfeVSIv8hG3hRZwTYIbn12qEdIcL0uvzHtq6DUNuqV3pn3aLQVKtzWMX_Kk-1qThv54W4P5eaKEFj_pZoBtqVXTO2wX2xmirD_ZdY&amp;disp=emb&amp;zw"
                                                                        style="border:0;height:24px;width:24px;border:0;max-width:700px;height:auto;height:16px;width:16px;vertical-align:middle"
                                                                        height="16"
                                                                        width="16"
                                                                        data-image-whitelisted=""
                                                                        class="CToWUd"
                                                                        data-bit="iit"
                                                                    >
                                                                    <span style="max-width:700px;height:auto;display:inline-block;padding:0 4px;background-color:#e3fcef" bgcolor="#e3fcef">Ankit Kumar Thakur</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody style="border-bottom:0">
                                                            <tr>
                                                                <td colspan="3" height="12px" style="padding:0;padding:0">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" style="padding:0;padding:0">
                                                                    <div style="margin:0 0 6px 0">
                                                                        <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0">
                                                                            <tbody style="border-bottom:0">
                                                                                <tr>
                                                                                    <td style="padding:0;padding:0">
                                                                                        <a
                                                                                            class="m_183903729866898530ak-button__appearance-primary"
                                                                                            href="https://xpressbees.atlassian.net/browse/NP-412?atlOrigin=eyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9"
                                                                                            style="color:#0052cc;text-decoration:none;box-sizing:border-box;border-radius:3px;border-width:0;display:inline-flex;font-style:normal;font-size:inherit;height:2.2857144em;line-height:2.2857144em;margin:0;outline:none;padding:0 12px;text-align:center;vertical-align:middle;white-space:nowrap;background:#0052cc;color:#ffffff;text-decoration:none;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;font-size:14px;padding:0 38px"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://xpressbees.atlassian.net/browse/NP-412?atlOrigin%3DeyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw38lG3SFSooaKCksJKTeugb"
                                                                                        >View issue</a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;padding:0;padding-bottom:12px;border-bottom:2px solid #dfe1e6">
                                                    <div></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0;padding:0;padding-top:12px">
                                                    <table
                                                        class="m_183903729866898530footer"
                                                        width="100%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        border="0"
                                                        style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0"
                                                    >
                                                        <tbody style="border-bottom:0">
                                                            <tr>
                                                                <td style="padding:0;padding:0">
                                                                    <br>
                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px">Open the issue to view attachments over 100KB.</small>
                                                                    <table style="border-spacing:0;margin:0;border-collapse:collapse;width:100.0%;border-spacing:0;margin:0">
                                                                        <tbody style="border-bottom:0">
                                                                            <tr>
                                                                                <td style="padding:0;padding:0">
                                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px">Get Jira notifications on your phone! Download the Jira Cloud app for
                                                                                        <a
                                                                                            href="https://play.google.com/store/apps/details?id=com.atlassian.android.jira.core&amp;referrer=utm_source%3DNotificationLink%26utm_medium%3DEmail"
                                                                                            style="color:#0052cc;text-decoration:none"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.atlassian.android.jira.core%26referrer%3Dutm_source%253DNotificationLink%2526utm_medium%253DEmail&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw2bEb-7d6oLVPaZL3_-nasG"
                                                                                        >Android</a> or
                                                                                        <a
                                                                                            href="https://itunes.apple.com/app/apple-store/id1006972087?pt=696495&amp;ct=EmailNotificationLink&amp;mt=8"
                                                                                            style="color:#0052cc;text-decoration:none"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/app/apple-store/id1006972087?pt%3D696495%26ct%3DEmailNotificationLink%26mt%3D8&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw2B07PG9_8kJQPoSKXkfbBM"
                                                                                        >iOS</a>.
                                                                                    </small>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0;padding:0">
                                                                                    <div style="line-height:4px;height:4px;font-size:1px" height="4">
                                                                                        &nbsp;
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0;padding:0;line-height:15px">
                                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px">
                                                                                        <a
                                                                                            href="https://xpressbees.atlassian.net/jira/settings/personal/notifications?emailPreferences=true&amp;atlOrigin=eyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9#emailpreferences"
                                                                                            style="color:#0052cc;text-decoration:none"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://xpressbees.atlassian.net/jira/settings/personal/notifications?emailPreferences%3Dtrue%26atlOrigin%3DeyJpIjoiZjk2M2NiMmEwODViNDZiMThlYjYyZTE0YzFlMWZmODQiLCJwIjoiaiJ9%23emailpreferences&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw2HLxgFQQyKuRUsTaK2HWw2"
                                                                                        >Manage notifications</a>
                                                                                    </small>
                                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px"> &nbsp;•&nbsp;</small>
                                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px">
                                                                                        <a
                                                                                            href="https://surveys.atlassian.com/jfe/form/SV_9X3zi1X4q1gKsqF"
                                                                                            style="color:#0052cc;text-decoration:none"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://surveys.atlassian.com/jfe/form/SV_9X3zi1X4q1gKsqF&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw2qMaXhRM9TVIGt1pDiDHUf"
                                                                                        >Give feedback</a>
                                                                                    </small>
                                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px"> &nbsp;•&nbsp;</small>
                                                                                    <small style="color:#707070;font-size:12px;line-height:1.3333334;color:#707070;font-size:12px;font-weight:normal;line-height:17px">
                                                                                        <a
                                                                                            href="https://www.atlassian.com/legal/privacy-policy"
                                                                                            style="color:#0052cc;text-decoration:none"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.atlassian.com/legal/privacy-policy&amp;source=gmail&amp;ust=1742543619306000&amp;usg=AOvVaw2fetvR1rJSwKtXzioPTHRQ"
                                                                                        >Privacy policy</a>
                                                                                    </small>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td width="20" class="m_183903729866898530desktop-only" style="padding:0;padding:0;display:block">&nbsp;</td>
                                                                <td style="padding:0;padding:0;text-align:right">
                                                                    <div class="m_183903729866898530desktop-only" style="display:block">
                                                                        <img
                                                                            src="https://mail.google.com/mail/u/0?ui=2&amp;ik=c4bf1b3692&amp;attid=0.1&amp;permmsgid=msg-f:1825034528464330609&amp;th=1953d33bf3f05f71&amp;view=fimg&amp;fur=ip&amp;permmsgid=msg-f:1825034528464330609&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_dAoacO6-_eVeGyRXrqZQXHtVnSG-_EfCzu7yyunsz_nHAdvRvICKOCa7G5XVAqPWBfPisqPQQHynsNXkL3tL_q1Ea_2TRWuH_kkv9c--ui-PufafaCZIyOPM&amp;disp=emb&amp;zw"
                                                                            style="border:0;border:0;height:32px"
                                                                            height="32"
                                                                            data-image-whitelisted=""
                                                                            class="CToWUd"
                                                                            data-bit="iit"
                                                                        >
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:0;padding:0">
                                                                    <div class="m_183903729866898530mobile-only" style="display:none;line-height:8px;height:8px" height="8">
                                                                        &nbsp;
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding:0;padding:0">
                                                                    <div class="m_183903729866898530mobile-only" style="display:none">
                                                                        <img
                                                                            src="https://mail.google.com/mail/u/0?ui=2&amp;ik=c4bf1b3692&amp;attid=0.1&amp;permmsgid=msg-f:1825034528464330609&amp;th=1953d33bf3f05f71&amp;view=fimg&amp;fur=ip&amp;permmsgid=msg-f:1825034528464330609&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9dIbVJ84syNZVTtEsDSLdUiYFhHKfP-iVFA0pi6MB5Drk8emj43BHhGhrtKHJXh--IsGGX4RcSeBvMG6c9Stmrij5uYAO1y6Mdc_Ipw5Gy4CEu-ORd9sUS_qg&amp;disp=emb&amp;zw"
                                                                            style="border:0;border:0;height:32px"
                                                                            height="32"
                                                                            data-image-whitelisted=""
                                                                            class="CToWUd"
                                                                            data-bit="iit"
                                                                        >
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img
                    border="0"
                    width="1"
                    height="1"
                    alt=""
                    src="https://ci3.googleusercontent.com/meips/ADKq_NYnpJs-axvDezE9pI75cezwXlUXr1vOwBrpIgva39TAqCvL5ZJ1opYQTiwzP-Kv83Z3qXZtA0ngic9cpYjSnXRjW-bX7bwAvTfP5E2VyD_0T446R1RzGeDCccpH_-IDS1vcM-3awdzvL9g3G_k6nCvJ6HGcco5X2DyBB4RdoL-fLiMlmczGf3L29Q4VzKnbEa3Z01adSHCCXXNZT4qblJA4UFuQq4jqtFdDDeBS9A_tm82m5XIV_bw=s0-d-e1-ft#https://atlas-trk.prd.msg.ss-inf.net/q/clqRBkDEC6VxoiuQAHmqng~~/AAAAARA~/8z5sv4mDGROey_a9Ma5r1xfjLn9TFdEb8Fh6CGZdgIOsBkQWN1Au2CdoNsT53B4HEINuBGQY1A_96yRB7-6tRQ~~"
                    class="CToWUd"
                    data-bit="iit"
                >
                <div class="yj6qo"></div>
                <div class="adL"></div>
            </div>
            <div class="adL"></div>
        </div>
    </div>
    <div class="WhmR8e" data-hash="0"></div>
</div>
